body {
    font-family: Lato, monospace;
    font-weight: 100;
}

a {
    text-decoration: none !important;
    color: #a9a9a9;
}

p, li{
    font-size: 1.1rem;
}

a:hover {
    color: #6495ed;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    color: #6495ed;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

code {
    padding: 15px;
    display: inline-block;
    border-radius: 7px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

.container {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 80px;
    padding-left: 11px;
}

.header {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 20px;
}

.nav {
    margin-top: -20px;
    padding-left: 7px;
    font-family: monospace;
    font-weight: 300;
}

.article {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 340px;
}

.post {
    margin-top: 50px;
    font-weight: 300;
    width: 650px;
}

.post-preview {
    margin-bottom: 20px;
}

.post-preview:hover {
    color: #6495ed;
}
.preview-title {
    color: #000000;
}

.datetime {
    margin-top: -20px;
    padding-left: 4px;
    font-weight: 300;
    font-size: 0.9rem;
}

.sm-text {
    padding-left: 4px;
}

.post-preview:after {
  content: "";
  display: block;
  position: absolute;
  width: 470px;
  height: 70px;
  margin-top: -80px;
  background: -webkit-linear-gradient(transparent, #FFF) left repeat;
  background: linear-gradient(transparent, #FFF) left repeat;
}
